.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 10% 0 10%;
  margin: 10rem 0 5rem 0;
}
.cars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  background-image: url(../../public/cars/MainCar.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  margin-top: -10rem;
  font-size: 7rem;
  text-align: center;
  justify-self: center;
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 2px white;
}

.input {
  margin: 2rem 0 -2.5rem 0;
  width: 475px;
}
