.link {
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
}
